<!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <nav class="navbar navbar-expand-lg navbar-light py-3 fixed-top" style="background:linear-gradient(to left,rgb(208, 209, 218),rgb(184, 193, 222));border:1px solid grey" >
      <div class="container">
        <a class="navbar-brand " href="http://localhost:3005/test"><img src="{{data.brandIconUrl}}" alt="" width="35" height="35" style="margin-right: 10px;border-radius:10px;margin-top:0px" class="d-inline-block align-text-top" >{{data.brandName}}</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {{#each data.links}}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{this.url}}">{{this.label}}</a>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </nav>
